body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    display: flex;
    overflow-y: auto;
    background-color: rgba(185, 182, 161, 1);
}


/* Customize styles as needed */
#section1 {
    margin: auto;
    width: 50%;
}


/* Additional styles for the form elements */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input, select {
    margin-bottom: 16px;
    padding: 8px;
    font-size: 22px;
}
#tratamiento {
    font-size: 22px;
    height: 40px;
}

.cursiv-title {
    font-size: 72px;
    font-family: "Water-Brush", cursive;
    /*margin-right: 20px;*/
    color: rgb(88, 85, 85);
    text-align: center;
}

.bg-contact {
    background-image: url('img/contact-girl.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    margin-top: -10px;
    position:static
}

form {
    width: 60%;
    margin-left: 40px;
}

.boton_ReservaAhora{
    margin:auto;
    width:234px;
    height: 60px;
    background-color: var(--header-bgcolormain);
    border:solid 1px white;
    border-radius: 30px;
    color: white;
    font-family:var(--main-fontfamily);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:70px;
}

.boton_ReservaAhora:hover{
    background-color: var(--main-bgcolor2);
    color:var(--header-bgcolormain);
    border:solid 1px var(--main-bgcolor2);
    font-weight: 800;
}