body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    display: flex;
    overflow-y: auto;
}

section {
    flex: 1;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 20px;
}

/* Customize styles as needed */
#section1 {
    background-color: #f0f0f0;
}

#section2 {
    background-color: #e0e0e0;
}



/* Additional styles for the form elements */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input, select, button {
    margin-bottom: 16px;
    padding: 8px;
}

.cursiv-title {
    font-size: 72px;
    font-family: "Water-Brush", cursive;
    /*margin-right: 20px;*/
    color: rgb(88, 85, 85);
}

.bg-contact {
    background-image: url('img/contact-girl.png');
    background-repeat: no-repeat;
    background-size: 100%;
}