* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

:root {
    --header-bgcolormain: #151A38;
    --header-colormain: #fff;
    --header-colorsecond: #000;
    --main-bgcolormain: #F4D8A0;
    --main-bgcolor1: #E0F0EB;
    --main-bgcolor2: #B9B6A1;
    --main-bgcolor3: #C1FABE; 
    --main-fontfamily: 'Cormorant Garamond', serif;
    --main-fontfamilytitles: 'Water Brush', cursive;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--header-bgcolormain);
    text-align: center;
}

.logo {
    margin-right: 80px;
}

ul, li{
    list-style-type: none; 
    padding: 0;
    display: flex;
    margin: 0;
    font-family: var(--main-fontfamily);
}

li.header-list{
    margin-right: 80px;
}

li.header-list a:hover{
    color:var(--main-bgcolor3);
    text-decoration: underline;
}

li {
    margin-right: 10px;
    color: whitesmoke;
}

li a {
    text-decoration: none; 
    color: whitesmoke;
}

section.header-booking-section{
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    justify-content: space-between;
    color: whitesmoke;
}

select#phone{
    background-color: var(--header-bgcolormain);
    color: whitesmoke;
    font-family: var(--main-fontfamily);
    font-size:16px;
}

select#phone:hover{
    color: var(--main-bgcolor3);
}

button {
    background-color: var(--header-bgcolormain);
    color: whitesmoke;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 16px;
    margin: 0px 20px;
    border: none;
    font-family: var(--main-fontfamily);
}

button:hover{
    color: var(--main-bgcolor3);
    text-decoration: underline;
    cursor: pointer;
}

h1{
    font-size: 72px;
    font-family: "Water-Brush", cursive;
    margin-right: 20px;
    color: whitesmoke;
}

button.services-btn{
    border-radius: 20px;
    border: 1px solid whitesmoke;
    font-family: 'Cormorant Garamond', serif;
    margin:auto;
    width:200px;
    height: 60px;
}

button.services-btn:hover{
    background-color: var(--main-bgcolor2);
    color:var(--header-bgcolormain);
    border:solid 1px var(--main-bgcolor2);
    text-decoration: none;
    border:solid 1px var(--main-bgcolor2);
    font-weight: 600;
    cursor: pointer;

    
}

main {
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -10px;
    padding-top: 10px;
}

section.main-section {
    background-image: url("img/spa_galactico_animation.mp4");
    text-align: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-container {
    border: 1px solid #ccc;
    height: 20vh;
    background-color: var(--main-bgcolor2);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.experience-text {
    max-width: 60ch; 
    margin: 0 auto; 
  }

section.testimonials-section {
    background-color: white;
    padding: 20px;
    height: 40vh;
}

h2.experience-title {
    font-size: 36px;
    margin-bottom: 20px;
}



h2.testimonials-title {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: "Water-Brush", cursive;
    text-align: center;
}

.testimonial-img{
    width: 100px;
    border-radius: 50px;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: var(--header-bgcolormain);
    text-align: center;
    justify-content: space-between;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 20px;
    gap: 20px;
}

.footer-item-top {
    flex-basis: 100%;
    justify-content: flex-end;
}

li.social-media:hover {
    cursor: pointer;
    color: var(--main-bgcolor3);
}

img.footer-img{
    width: 420px;
    margin-right: 20px;
}